.logo-banner {
  display: inline-block;
  width: 10.5rem;
}

.carrousell {
  background-color: rgba(0, 0, 0, 0.802);
}

.img-circle {
  background-color: #d81324;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.banner-publicity {
  margin-top: -5rem;
  z-index: 99999;
}

.banner-footer {
  margin-top: -10rem;
  z-index: 99999;
  /* height: 10rem; */
}

.lista-per {
  list-style-type: none;
  padding: 0;
}

.link {
  color: white;
}

.link:hover {
  color: #d81324;
}
.text-danger {
  color: #a81f17 !important;
}

.btn-danger {
  background-color: #a81f17 !important;
}
.bg-danger {
  background-color: #a81f17 !important;
}
.text-justify {
  text-align: justify;
}
.text-warning {
  color: #e0b934 !important;
}
.btn-pimary {
  background-color: #355483 !important;
}
.btn-outline-primary {
  border: 1px solid#355483;
}
.btn-outline-primary:hover {
  border: #355483;
  background-color: #355483 !important;
}
.text-info {
  color: #355483 !important;
}
